/* style.css */
body {
  font-family: Arial, sans-serif;
}

.hero {
  background-color: #EECCFF;
  padding: 50px 0;
  color: grey;
}

.navbar-brand {
  font-weight: bold;
  font-size: 24px;
}

#emailDisplay {
  font-size: 18px;
  color: #fff;
}
